<div class="center hero-unit">
  <h1>Welcome to DBFruitVar</h1>

  <h2>
    This is the home page for the DBFruitVar application.
  </h2>

  <%= link_to "Sign in now!", new_user_session_path, class: "btn btn-large btn-primary" %>
</div>

